<!DOCTYPE html>
<html lan="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/homepage.css')}}">
        <title>Homepage</title>
    </head>
    <body>
        <div class="home">
            <div class="options">
                <p class="hmm"><a href="sales.html">Sales</a></p>
                <p class="hmm"><a href="inventory.html">Inventory</a></p>
                <p class="hmm"><a href="sales_hist.html">Sales History</a></p>
                <p class="hmm"><a href="U_Accounts.html">User Accounts</a></p>
            </div>
            <div class="header">
                <h1>Welcome</h1>
            </div>
        </div>
    </body>
</html>