<!DOCTYPE html>
<html>
    <head>
        <title>Sales Page</title>
    </head>
    <body>
        <span><p><a href="#">BACK</a></p></span>
        <nav>
            <ul>
                <li> <a href="sales.html">Sales</a></li>
                <li><a href="inventory.html">Inventory</a></li>
                <li><a href="sales_hist.html">Sales History</a></li>
                <li><a href="U_Accounts.html">User Accounts</a></li>
            </ul>
        </nav>
        <input type="text" placeholder="Search Item">
    </body>
</html>